<div class="container">
  <h5>Volunteer ID: <%= @volunteer.id() %></h5>
  <h5>Volunteer Name: <%= @volunteer.name() %></h5>
  <form action="/volunteers/<%= @volunteer.id() %>" method="post">
    <input name="_method" type="hidden" value="patch">

    <% if @projects.any?()  %>
      <div class="form-group">
        <h5><label for="project_id">Update Project</label></h5>
        <select id='project_id' name='project_id' type='text'>
        <% @projects.each() do |project| %>
          <option value="<%= project.id()%>"> <%= project.description() %> </option>
        <% end %>
          <option value="0"> No project </option>
        </select>
      <% else  %>
      <div class="form-group">
        <h5><label for="project_id">Update Project</label></h5>
        <select id='project_id' name='project_id' type='text'>
          <option value="0"> No project </option>
        </select>
      </div>
    <% end  %>
    <br>
      <button type="submit" class="btn btn-success mt-2">Update</button>
  </form>

  <form action="/volunteers/<%= @volunteer.id() %>" method="post">
    <input name="_method" type="hidden" value="delete">
    <button type="submit" class="btn btn-danger mt-3">Delete</button>
    </div>
  </form>


</div>
